<div class="container mt-5">

    <div class="row">
        <div class="col-sm-6">
            <form (ngSubmit)="onSubmit()">
                <div class="form-group mb-2">
                    <input type="text" class="form-control" placeholder="nuevo item..." id="item" required [(ngModel)]="itemValue" name="item">
                </div>

                <div align="right">
                    <button type="submit" class="btn btn-secondary btn-sm">Guardar</button>
                </div>
            </form>
        </div>

        <div class="col-sm-6">
            <div *ngFor="let item of items | async">
                <div class="list-group">
                    <a routerLink="/item/{{item.content}}" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{item.content}}</h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>